*{
    padding: 0;
    margin: 0;
}
body{
    background: url("../Images/bg.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#board{
    height: 92vmin;
    width: 90vmin;
    /* background: linear-gradient(); */
    background-color: #4ab944;
    border: 8px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-rows: repeat(18,1fr);
    grid-template-columns: repeat(18,1fr)
}
.head{
    background-color: red;
}
.snake-body{
    background-color: purple;
}
.food{
    background-color: yellow;
}